<?xml version="1.0" encoding="utf-8"?>
<!--**************************************************************************|
 |                                                                            |
 |   Author :  Galo Paz <galopaz@outlook.com>                                 |
 |     Date :  Jul 19, 2013                                                   |
 |     Name :  AndroidManifest.xml                                            |
 |  Purpose :  Manifest file for the StatesToCapital Application (HW#6).      |
 |                                                                            |
 |***************************************************************************-->
 
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cs211d.a6"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" >
        <activity android:name=".StateListActivity"
                  android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
